<div class="has-text-centered field has-addons mt-6">
  <a class="button is-primary m-auto is-large" href="/users/auth/twitch">
    <span class="icon is-small">
    <i class="fab fa-twitch"></i>
    </span>
    <span>Sign In</span>
  </a>
</div>